*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ececec;
}
.cube-container {
    perspective: 1000px;
}
.cube-box {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotateX(20deg) rotateY(30deg);
    transform-style: preserve-3d;
}
.side{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(99, 99, 99);
    background-color: rgb(0, 81, 255);
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
}
.front {
    transform: translateZ(100px);
}
.back {
    transform: rotateY(180deg) translateZ(100px);
}
.right {
    transform: rotateY(90deg) translateZ(100px);
}
.left {
    transform: rotateY(-90deg) translateZ(100px);
}
.top {
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
 }